
<h1>Posts</h1>
<%= link_to "HOME", root_path %><br>
<%= link_to "New Post", new_post_path %><br><hr>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>
